# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store

# Virtual environment
.venv311/
.env

# Large data files
data/HDFS.log
data/HDFS_1.tar
data/HDFS_1.tar.gz.download/
data/*.tar.gz
data/*.tar

#results files
results/

# Jupyter
.ipynb_checkpoints/
